@font-face {
  font-family: 'Allura';
  src: url('Allura-Regular.ttf') format('truetype');
  /* Asegúrate de que la ruta especificada coincida con la ubicación real del archivo de fuente */
}

body {
  font-family: "Allura", "Futura PT Light","Trebuchet MS";
  background-color: #fdf5e7;
}

.container {
  text-align: left;
  padding: 50px;
}

.date-section {
  text-align: right;
  margin-bottom: 20px;
}

.date {
  font-size: 19px;
  color: #555;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Futura PT Light', sans-serif; /* Añade la fuente Futura PT Light al botón */
}

.btn:hover {
  background-color: #0056b3;
}

@keyframes fireworks {
  /* Define la animación de fuegos artificiales aquí */
}

button#btn-si {
  animation: fireworks 5s forwards;
}

.text {
  text-align: left;
  font-size: 26px;
}



/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.heart {
  margin: 5px;
  width: 250px;
  height: 250px;
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  background-color: #555;
  color: white;
  text-decoration: none;
  border-radius: 22px;
  font-family: 'Futura PT Light', sans-serif;
  font-size: 12px;
}

.nav-button:hover {
  background-color: #6c6c6c;
}


.img31dic2024 {
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
             mask-border: var(--_m);
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}